<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="feup.traverse" >

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <provider android:authorities="com.facebook.app.FacebookContentProvider1492466484386664"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".MainMenu"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SignOn"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="feup.traverse.SignOn" />
                <category android:name="android.intent.category.DEFAULT"  />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewProfile"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="feup.traverse.ViewProfile" />
                <category android:name="android.intent.category.DEFAULT"  />
            </intent-filter>
        </activity>

        <activity
            android:name=".ProfileSettings"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="feup.traverse.ProfileSettings" />
                <category android:name="android.intent.category.DEFAULT"  />
            </intent-filter>
        </activity>

        <activity
            android:name=".HomePageChapters"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="feup.traverse.HomePageChapters" />
                <category android:name="android.intent.category.DEFAULT"  />
            </intent-filter>
        </activity>

        <activity
            android:name=".SocialMedia"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="feup.traverse.SocialMedia" />
                <category android:name="android.intent.category.DEFAULT"  />
            </intent-filter>
        </activity>

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="feup.traverse.MapsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

    </application>

</manifest>
